  .text{
    margin-top: 25px;
    margin-bottom: 12px;
  }
  .loginCss{
    text-align : center;
    margin-top: 25px
  }
  .registerCss{

    /* border:1px solid blue; */
    background-size:cover;
    text-align : center;
  }
  .forgotPasswordCss{
    margin-top: 197px;
    margin:auto;
    text-align : center;
  }
  .forgotcard
  {
    justify-content: center;
    width: 323px;
    margin-top:150px;
    border:2px solid black;
    margin:auto;
    height: auto;
  }
  .resetcard
  {
    overflow: hidden;
    text-align: center;
    justify-content: center;
    width:300px;
    margin-top: 159px;
    border:2px solid black;
    margin:auto;
    height: auto; 
  }
  /* .resetPasswordCss{
    margin-top: 159px;
    margin:auto;
    text-align : center;
  } */
  /* body{
    background:url('./assets/images/apple.jpg');
    background-image: no-repeat; 
    background-repeat: no-repeat;
    background-size:cover;
  } */
  .button
  {
    margin-right: 25px;
  }

  #regbutton{
    margin-right: 20px;
  }
  .card
  {
    justify-content: center;
    width:300px;
    margin-top:150px;
    border:2px solid black;
    margin:auto;
    height: 430px;
  }
  .heading{
    text-align: center;
  }
  #createbutton{    margin-top: 30px;
  margin-bottom: 23px;
  }
  .DashBoard{
    margin-top:-6px;
    text-align:center; 
    width: 737px;
    margin-left: 239px; 
  }
  .FirstCard
  {
    width: 245px;
    margin-right: 1200px;
    height: 500px;
    margin-top:1px;
    border:2px solid black;
  }
  .DashButton
  {
    width: 745px;
    margin-left: 246px;
  }
  .SecondCard
  {
    border:2px solid black; 
      margin-left: 250px;
      text-align:center; 
      margin-top: -504px;
      width: 730px; 
      height:500px;
  }